@model Words_learning_app_thing.ViewModels.UserChoicesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>UserChoicesViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.SessionType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.SessionType)
            @Html.ValidationMessageFor(model => model.SessionType, "", new { @class = "text-danger" })
        </div>
    </div>
    @if (Model.CanEditLevel)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Lvl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Lvl)
                @Html.ValidationMessageFor(model => model.Lvl, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Lvl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Lvl, new { @disabled = "disabled" })
                Poziom trudności został wybrany automatycznie. Możesz to zmienić w ustawieniach swojego konta.
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.WybranyInput, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.WybranyInput)
            @Html.ValidationMessageFor(model => model.WybranyInput, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ZnanyJezyk, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ZnanyJezyk, Model.Jezyki)
            @Html.ValidationMessageFor(model => model.ZnanyJezyk, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UczonyJezyk, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.UczonyJezyk, Model.Jezyki)
            @Html.ValidationMessageFor(model => model.UczonyJezyk, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
