@model Words_learning_app_thing.Models.IndexViewModel
@using Words_learning_app_thing.Helpers
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            ]
        </dd>
        <dt>Progress:</dt>
        <dd>
            @Model.Progress
        </dd>
        <dt>Difficulty choice mode:</dt>
        <dd>
            @switch(Model.Mode)
            {
                case TrybWybieraniaSesji.Automatyczny:
                    <p>Automatic</p>
                    break;
                case TrybWybieraniaSesji.Manualny:
                    <p>Manual</p>
                    break;
            }
            [@Html.ActionLink("Change Mode", "ChangeMode")]
        </dd>
    </dl>
</div>
