@model Words_learning_app_thing.Models.IndexViewModel
@using Words_learning_app_thing.Helpers
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Ustawienia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło</dt>
        <dd>
            [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Zmień hasło", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Ustaw hasło", "SetPassword")
                }
            ]
        </dd>
        <dt>Postęp:</dt>
        <dd>
            @Model.Progress
        </dd>
        <dt>Tryb wyboru trudności:</dt>
        <dd>
            @switch(Model.Mode)
            {
                case TrybWybieraniaSesji.Automatyczny:
                    <p>Automatyczny</p>
                    break;
                case TrybWybieraniaSesji.Manualny:
                    <p>Ręczny</p>
                    break;
            }
            [@Html.ActionLink("Zmień tryb", "ChangeMode")]
        </dd>
    </dl>
</div>
