@model Words_learning_app_thing.Models.Slowo

@{
    ViewBag.Title = "DetailsWord";
}

<h2>DetailsWord</h2>

<div>
    <h4>Slowo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Zawartosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zawartosc)
        </dd>

    </dl>
    <h3>@Html.DisplayNameFor(model => model.Tlumaczenia)</h3>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Words")
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Zawartosc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jezyk)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var slowo in Model.Tlumaczenia)
            {
                <tr>
                    <td>
                        @slowo.Zawartosc
                    </td>
                    <td>
                        @slowo.Jezyk.Nazwa
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

