@model Words_learning_app_thing.ViewModels.WordsViewModel

@{
    ViewBag.Title = "Words";
    var words = Model.Words;
}

<h2>Words</h2>

<p>
    @Html.ActionLink("Create New", "CreateWord", new { languageId = Model.LanguageId })
    | @Html.ActionLink("Back to Languages", "Languages")
</p>
<table class="table">
    <tr>
        <th>
            Zawartość
        </th>
        <th>
            Język
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Words) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Zawartosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jezyk.Nazwa)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditWord", new { id = item.Id }) |
            @Html.ActionLink("Details", "DetailsWord", new { id = item.Id }) |
            @Html.ActionLink("Delete", "DeleteWord", new { id = item.Id })
        </td>
    </tr>
}

</table>
